.wrapper{
    background-color: lightcyan;
}

.darkWrapper{
    background-color: black;
}

.item{
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 15px 0 0px;
    margin-left: 40px;
    font-weight: 500;
}

.addPostWrapper{
    padding: 15px;
}

.postTextWrap{
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.button{
    width: 150px;
    height: 40px;
    margin-left: 20px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5%;
}

.button:active{
    background-color:darkgray;
}




