.form.error textarea{
    box-shadow: 0 3px 10px red
}
.form.error textarea:focus{
    outline: none;
}
.form.error input{
    box-shadow: 0px 3px 10px red;
}

.form.error input:focus{
    outline: none;
}

.form{
    padding: 5px;
    margin-left: 100px;
    margin-top: 25px;
}

.input{
    font-size: 18px;
    width: 250px;
    height: 32px;
    border-radius: 3px;
}

.textarea{
    font-size: 19px;
    width: 270px;
    height: 60px;
    margin-left: -105px;
}

.formError{
    border: 2px solid red;
    background-color: crimson;
    padding: 5px;
    width: 250px;
    height: 38px;
    font-size: 19px;
    margin: 5px;
    margin-left: 105px;
    box-shadow: 0 0 12px brown
    
}

.error{
    font-size: 18px;
    font-weight: 500;
    color:black;
}
.rememberMe{
    font-size: 18px;
    font-weight: 500;
}