.nav{
    grid-area: n;
    background-color: darkblue;

}

.nav div{
    margin-top: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-left: 16px;
}

.nav div:first-child{
    margin-top: 50px;
}


.item a{
    color: white;
    text-decoration: none;
}

.item a.activeLink{
    color: goldenrod;
}

.item a:hover {
    color: goldenrod;
}

.nav div:last-child{
    padding-bottom: 36px;
}

.users{
    padding-right: 127px;
}



