.nav{
    grid-area: n;
    background-color:gainsboro;
    color: black;

}

.darkNav{
    grid-area: n;
    background-color:darkblue;

}

.nav div{
    margin-top: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-left: 16px;
    color: black;
}

.darkNav div{
    margin-top: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-left: 16px;
}

.nav div:first-child{
    margin-top: 50px;
}


.darkNav .item a{
    text-decoration: none;
    color: whitesmoke;
}

.nav .item a{
    text-decoration: none;
    color: black;
}

.darkNav .item a.activeLink{
    color: goldenrod;
}

.darkNav .item a:hover {
    color: goldenrod;
}

.nav .item a.activeLink{
    color:blue;

}

.nav .item a:hover {
    color:blue;
}

.nav div:last-child{
    padding-bottom: 36px;
}

.users{
    padding-right: 127px;
}



