.item {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 17px;
    margin-left: 5px;
}

.wrapper{
    background-color: burlywood;
    display: flex;
    padding: 10px;
}

.avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.count{
    font-size: 17px;
    margin-top: 27px;
    margin-left: 10px;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}